
@{
    ViewBag.Title = "GetAllDocuments";
}

<h2>GetAllDocuments</h2>


@{

    try
    {
        foreach (var documents in ViewBag.Documents)
        {
            @documents
        }
    }
    catch (Exception e)
    {
        
    }





}