@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mybg">
    <h1><img src="~/Content/Images/documentdb.png" style="width:10%;" />BackupmyDDB</h1>
    <p class="lead">This tool allows you to generate url links that creates backups for your Azure DocumentDB NoSQL with the help of a cron job.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Configure your DocumentDB databases</h2>
        <p>Add the databases you have with its URI and Primary Key in order gain access from this tool.</p>
        <p>An URL will be created with custom key to perform backups, you can later on add a cronjob to access that url and specify ejecution times.</p>
        <p>Also you will need to specify a Azure BLOB storage to save the backups.</p>
    </div>
    <div class="col-md-4">
        <h2>Schedule</h2>
        <p>Creating a scheduled cronjob is easy in any platform</p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Generate an account and then disable registration in the Configuration Panel</p>
        <a href="/Ddbdatabase">Enter</a>
    </div>
</div>